
@font-face {
    font-family: 'FreightSansLFPro';
    src: url('fonts/FreightSansLFPro-BoldIt.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro';
    src: url('fonts/FreightSansLFPro-BoldIt.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro';
    src: url('fonts/FreightSansLFPro-Bold.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro';
    src: url('fonts/FreightSansLFPro-It.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro';
    src: url('fonts/FreightSansLFPro-Bold.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro';
    src: url('fonts/FreightSansLFPro-Regular.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro';
    src: url('fonts/FreightSansLFPro-Regular.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro Lig';
    src: url('fonts/FreightSansLFPro-LightIt.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro';
    src: url('fonts/FreightSansLFPro-It.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Freight';
    src: url('fonts/Freight-SansMediumItalic.woff2') format('woff2'),
        url('fonts/Freight-SansMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro Lig';
    src: url('fonts/FreightSansLFPro-LightIt.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro Lig';
    src: url('fonts/FreightSansLFPro-Light.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro Lig';
    src: url('fonts/FreightSansLFPro-Light.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight';
    src: url('fonts/Freight-SansMediumItalic.woff2') format('woff2'),
        url('fonts/Freight-SansMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro Med';
    src: url('fonts/FreightSansLFPro-Medium.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansLFPro Med';
    src: url('fonts/FreightSansLFPro-Medium.woff2') format('woff2'),
        url('fonts/FreightSansLFPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kabel';
    src: url('fonts/Kabel-Light.woff2') format('woff2'),
        url('fonts/Kabel-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Kabel';
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFEFA;
    background-color: #8C3434;

}

body.interior {
    margin: 0 auto;
    background-color: #FFFEFA;
}

.home-nav {
    text-align: left;
    list-style: none;
    color: #8C3434;
    font-size: 25px;
    margin: 0;
}

@media (max-width: 768px) {
    .home-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        padding: 0;
    }
}

.header {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

@media (max-width: 768px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-image {
    height: 35px;
}

.header-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 20px;
    color: #8C3434;
    margin: 0;
}

.header-nav li {
    padding-bottom: 6px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 300ms ease-in-out;
}

.header-nav li:hover,
.header-nav li.active {
    color: #D3ABAB
}

.header-nav li + li {
    margin-left: 70px;
}

@media (max-width: 768px) {
    .header-nav li + li {
        margin-left: 30px;
    }
}

.about-section {
    max-width: 474px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    font-size: 15px;
    color: #8C3434;
}

.about-mail {
    color: #D3ABAB;
}

.about-image {
    margin-top: 30px;
    max-width: 205px;
}

.gallery {
    display: flex;
    margin-top: 50px;
    padding: 0 10px;
}

.gallery-column {
    width: 50%;
}

.gallery-column + .gallery-column {
    margin-left: 10px;
}

.gallery-item {
    position: relative;
    width: 100%;
    color: #ffff;
    transition: transform 300ms ease-in-out;
}

.gallery-item:hover {
    transform: scale(0.98)
}

.gallery-item:nth-child(1),
.gallery-item:nth-child(2) {
    margin-bottom: 10px;
}

.gallery-item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    background-color: transparent;
    color: #FFFEFA;
    opacity: 0;
}

.gallery-item-text:hover {
    background-color: #0000005c;
    opacity: 1;
    transition: all 400ms ease-in-out;
}

.photo-album-page {
    display: flex;
    margin-top: 50px;
    padding: 0 10px;
}

@media (max-width: 768px) {
    .photo-album-page {
        flex-direction: column;
    }
}

.photo-album-page + .photo-album-page {
    margin-top: 0;
}

.photo-album-column {
    width: 50%;
}

@media (max-width: 768px) {
    .photo-album-column {
        width: 100%;
    }
}

.photo-album-column:nth-child(2) {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .photo-album-column:nth-child(2) {
        margin-left: 0;
    }
}

.photo-album img {
    margin-bottom: 10px;
}